<%= form_for(@usercreatedbill) do |f| %>
  <% if @usercreatedbill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usercreatedbill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% @usercreatedbill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :kind %><br>
    <%= f.text_field :kind %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :sponsor %><br>
    <%= f.text_area :sponsor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
