<p id="notice"><%= notice %></p>

<h1>Listing Your Bills</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Type</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usercreatedbills.each do |bill| %>
      <tr>
        <td><%= link_to bill.title, usercreatedbill_path(bill) %></td>
        <td><%= bill.kind %></td>
        <td><%= bill.content %></td>
        <td><%= link_to 'Edit', edit_usercreatedbill_path(bill) %></td>
        <td><%= link_to 'Destroy', usercreatedbill_path(bill), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

  </tbody>
</table>

<br>

<%= link_to 'New Bill', new_usercreatedbill_path %>
