<div class = "log">
  <ul class="tab-group">
        <li class="tab active"><a href="#signup">Sign Up</a></li>
        <li class="tab"><a href="#login">Log In</a></li>
  </ul>
<!--  *****CONTENT FOR TABS*****-->
        <div class="tab-content">
          <div id="signup">
            <h1>Sign Up</h1>

            <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

            <div class="top-row">
              <div class="field-wrap">
                  <div><%= f.label :email %><span class="req">*</span>
                  <%= f.email_field :email %></div>
              </div>
              <div class="field-wrap">
                  <div><%= f.label :password %><span class="req">*</span>
                  <%= f.password_field :password %></div>
              </div>
              <div class="field-wrap">
                  <div><%= f.label :password_confirmation %><span class="req">*</span>
                  <%= f.password_field :password_confirmation %></div>
              </div>

                  <button class="button button-block"/><%= f.submit "Get Started" %></button>
              <% end %>
            </div>
          </div>
          <div id="login">
            <h1>Welcome Back!</h1>

            <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

            <div class="field-wrap">
              <div><%= f.label :email %><span class="req">*</span>
              <%= f.email_field :email, autocomplete: "off" %></div>
            </div>

            <div class="field-wrap">
              <div><%= f.label :password %><span class="req">*</span>
              <%= f.password_field :password, autocomplete: "off" %></div>
            </div>

          <p class="forgot"><%= link_to "Forgot Password?", new_password_path(resource_name)%></p>

          <button class="button button-block"/><%= f.submit "Log in" %></button>
        </div>
      </div>
</div>
<%= render "links" %>
