<!-- it's not clear to me that this view is actually needed -->

<%= @current_bills.each do |bill| %>
<p id="notice"><%= notice %></p>
<p>
  <strong>Title:</strong>
  <%= @bill.title %>
</p>

<p>
  <strong>Type:</strong>
  <%= @bill.kind %>
</p>

<p>
  <strong>Content:</strong>
  <%= @bill.content %>
</p>

<p>
  <strong>Sponsor:</strong>
  <%= @bill.sponsor %>
</p>
<%= end %>
<!-- <%#= link_to 'Edit', edit_bill_path(@bill) %> | -->
<!-- <%#= link_to 'Back', bills_path %> -->
